services:

  # script:
  #   image: ingestion:1
  #   # set attribute to manage credentials
  #   depends_on:
  #     - db
  #   env_file:
  #     - staging/credentials/.env
  #   environment:
  #     ENV: staging/credentials/
  #     KEY_FILE: /run/secrets/api_secret
  #     LOG_FILE: /logs/
  #     PASS_FILE: /run/secrets/postgres_pass
  #     SQL_FILE: /src/sql
  #     USER_FILE: /run/secrets/postgres_user
  #   volumes:
  #     - ingestionlog:/logs/
  #     - ./dockerlogs/:/logs/
  #   secrets:
  #     - api_secret
  #     - postgres_user
  #     - postgres_pass
  
  mongo:
      image: mongo:8.2
      restart: always
      ports:
        - 27017:27017
      environment:
        MONGO_INITDB_ROOT_USERNAME_FILE: ${MONGO_INITDB_ROOT_USERNAME_FILE}
        MONGO_INITDB_ROOT_PASSWORD_FILE: ${MONGO_INITDB_ROOT_PASSWORD_FILE}
      volumes:
        # - type: bind
        # - source: ./mongo
        # - target: /var/mongo/
        - ./mongo:/var/lib/mongo/data
      secrets:
      - mongo_initdb_user
      - mongo_initdb_pass

  mongo-express:
      image: mongo-express:1.0
      restart: always
      ports:
        - 8081:8081
      environment:
        ME_CONFIG_MONGODB_URL: ${ME_CONFIG_MONGODB_URL}        #$(cat $ME_CONFIG_MONGODB_URL_FILE)
        ME_CONFIG_BASICAUTH_ENABLED: true
        # ME_CONFIG_MONGODB_SERVER: mongo
        # ME_CONFIG_MONGODB_PORT: 27017
        ME_CONFIG_BASICAUTH_USERNAME_FILE: ${ME_CONFIG_BASICAUTH_USERNAME_FILE}
        ME_CONFIG_BASICAUTH_PASSWORD_FILE: ${ME_CONFIG_BASICAUTH_PASSWORD_FILE}
      secrets:
      - me_config_user
      - me_config_pass
      - mongo_url

  postgres_src:
    image: postgres:17
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_USER_FILE: /run/secrets/postgres_user
      POSTGRES_PASSWORD_FILE: /run/secrets/postgres_pass
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5434:5432"
    volumes:
      - srcdatapostgres:/var/lib/postgresql/data
    secrets:
      - postgres_user
      - postgres_pass 
  
  postgres_des:
    image: postgres:17
    restart: always
    # set shared memory limit when using docker compose
    shm_size: 128mb
    environment:
      POSTGRES_USER_FILE: ${POSTGRES_USER_FILE}
      POSTGRES_PASSWORD_FILE: ${POSTGRES_PASSWORD_FILE}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5435:5432"
    volumes:
      - desdatapostgres:/var/lib/postgresql/data
    secrets:
      - postgres_user
      - postgres_pass

  adminer:
    image: adminer
    restart: always
    ports:
      - 8082:8080

secrets:
  mongo_initdb_user:
    file: ./credentials/mongo_initdb_user.txt
  mongo_initdb_pass:
    file: ./credentials/mongo_initdb_pass.txt
  me_config_user:
    file: ./credentials/me_config_user.txt
  me_config_pass:
    file: ./credentials/me_config_pass.txt
  mongo_url:
    file: ./credentials/mongo_url.txt
  postgres_user:
    file: ./credentials/db_user.txt
  postgres_pass:
    file: ./credentials/db_pass.txt

volumes:
  srcdatapostgres:
  desdatapostgres:
  mongo:
  